name: Build and Release

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    
    - name: Build
      run: dotnet build "DNR 6.7 Strings/DNR 6.7 Strings.csproj" --configuration Release /p:OutputType=Exe
      
    - name: Upload EXE as Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DNR-String-Cleaner
        path: |
          DNR 6.7 Strings/bin/Release/net9.0/DNR_6.7_Strings.exe
          DNR 6.7 Strings/bin/Release/net9.0/dnlib.dll
          DNR 6.7 Strings/bin/Release/net9.0/0Harmony.dll
        retention-days: 7
